.form {

  &__group {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: rgba($color-white, 0.5);
    width: 90%;
    display: block;
    transition: 0.3s all;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px $color-primary solid;
    }


    // invalid validation on input, ex:required

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }


    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }


  &__label {
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: 300ms all;
  }

  // gives input label effects similar to material design
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    display: inline-block;
    width: 48%;
    font-size: $default-font-size;
    cursor: pointer;
  }

  &__radio-label {
    position: relative;
    padding-left: 4.5rem;

  }

  &__radio-button {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid $color-primary;
    position: absolute;
    left: 0;
    top: -4;

    &::after {
      content: " ";
      width: 1.3rem;
      height: 1.3rem;
      opacity: 0;
      border-radius: 50%;
      background-color: $color-primary;
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s ease all;

    }

  }

  &__radio-input{
    display: none;
  }

  &__radio-input:checked ~ &__radio-label  &__radio-button::after {
      opacity: 1;
  }
}