.form {

  &__group {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: rgba($color-white, 0.5);
    width: 90%;
    display: block;
    transition: 0.3s all;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px $color-primary solid;
    }


    // invalid validation on input ex:required

    &:focus:invalid{
      border-bottom: 3px solid $color-secondary-dark;
    }


    &::-webkit-input-placeholder{
      color: $color-grey-dark-2;
    }
  }


  &__label {
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: 300ms all;
  }

  // gives input label effects similar to material design
  &__input:placeholder-shown + &__label{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }







}