.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  position: relative;

  & > * {
    transform: skewX(12deg);
  }

  &__shape {
    // border-radius: 50%; also valid in this case instead of clip path
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%); // 50% is the radius of circle i.e 7.5rem, "at 50% 50%" is from x-axis to center and y-axis to center
    shape-outside: circle(50% at 50% 50%); // makes the outside text look like starting from circle
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
  }

  &__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $color-white;
    font-size: 1.7rem;
    text-transform: uppercase;
    transform: translate(-50%, 20%);
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;

  }

  &:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover .story__image{
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }



}