@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    /*transform: translateX(0); no need to apply bcz */
    /*element will be back to its original state even we don't specify original state*/
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    /*transform: translateX(0); no need to apply bcz */
    /*element will be back to its original state even we don't specify original state*/
  }
}

@keyframes bottomToTop {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  80% {
    transform: translateY(-1rem);
  }

  100% {

  }
}